<div class="auth_form">
  <div class="main-form">
    <div class="logo">
      <img class="logo" src="/src/assets/images/icons/logo.png" alt="">
    </div>
    <input class="login" type="text" placeholder="Login">
    <input class="pas" type="password" placeholder="Password">
    <button class="save">Войти</button>
    <p style="text-align: center;font-size: 13px;">Не зарегестрированы?
      <a href="#" class="green-text">Создать аккаунт</a>
    </p>
  </div>
</div>

<div class="registration_form">
  <div class="main-form">
    <div class="logo">
      <img class="logo" src="/src/assets/images/icons/logo.png"/>
    </div>
    <input class="login" type="text" placeholder="Login">
    <input class="pas" type="password" placeholder="Password">
    <input class="pas-2" style="margin-bottom: 40px;" type="password" placeholder="Repeat password">
    <input class="pas-admin" type="password" placeholder="Admin password">
    <button class="save">Создать</button>
    <p style="text-align: center;font-size: 13px;">Уже зарегестрированы? <a href="#" class="green-text">Войти</a></p>
  </div>
</div>