<div class="table-buttons">
  <div class="btn">
    <a routerLink="/table">
      <button class="save" [disabled]="'/table' === location">{{'table.title' | translate}}</button>
    </a>
  </div>
  <div class="btn">
    <a routerLink="/table-charges">
      <button class="save" [disabled]="'/table-charges' === location">{{'money.title' | translate}}</button>
    </a>
  </div>
  <div class="btn">
    <a routerLink="/table-movement">
      <button class="save" [disabled]="'/table-movement' === location">{{'move.title' | translate}}</button>
    </a>
  </div>
  <div class="btn">
    <a routerLink="/table-people">
      <button class="save" [disabled]="'/table-people' === location">{{'people.title' | translate}}</button>
    </a>
  </div>
</div>