<h1 style="text-align: center">{{'createProduct.newProduct' | translate}}</h1>
<form #form="ngForm" (ngSubmit)="create(form)">
  <div class="main-form">
    <input [class.validation]="name.touched" type="text" placeholder="{{'shared.name' | translate}}" name="name" #name="ngModel" ngModel
           required minlength="4">

    <button class="save" type="submit" [disabled]="form.invalid">{{'shared.add' | translate}}</button>
  </div>
</form>
<div *ngIf="connectDone" class="done">
  <h2>{{'shared.connectDone' | translate}}</h2>
</div>
<div *ngIf="connectError" class="error">
  <h2>{{'shared.connectError' | translate}}</h2>
</div>
<app-info-block
        [inputList]="[name]"
        [errorList]="['shared.name' | translate | lowercase]"
></app-info-block>



