<form #form="ngForm" (ngSubmit)="create(form)">
  <div class="main-form">
    <input [class.validation]="name.touched" type="text" placeholder="Name" name="name" #name="ngModel" required ngModel>

    <button class="save" type="submit" [disabled]="form.invalid">Add</button>
  </div>
</form>

<app-info-block
        [inputList]="[name]"
        [errorList]="['name']"
></app-info-block>

<div *ngIf="connectError" class="error">
  <h2>Problem with connection! Try again!</h2>
</div>

<div *ngIf="connectDone" class="done">
  <h2>Create done!</h2>
</div>