#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #9E9E9E;
    padding: 0 20px;
    z-index: 3;
}
#header .tabs a{
    text-decoration: none;
    color: black;
}
#header #language img{
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}
#language > div {
    display: inline-block;
    cursor: pointer;
    height: 36px;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left-header-blocks {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
    text-align: center;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-right: 10px;
}

#language {
    position: absolute;
    display: flex;
    right: 50px;
}

#language > div {
    width: 55px;
}
#header .tabs a div i{
    display: none;
}
@media(max-width:414px) {
    #header .tabs a div p{
        display: none;
    }
    #header .tabs a div i{
        display: block;
    }

    .left-header-blocks {
        width: 34px;
        padding: 0;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
    }
    #header {
        height: 47px;
    }
}