<div class="table_box">

	<app-navigate-table></app-navigate-table>

	<table border="1">
		<caption>{{'money.title' | translate}}</caption>
		<tr>
			<th>{{'table.date' | translate}}</th>
			<th>{{'money.category' | translate}}</th>
			<th>{{'money.description' | translate}}</th>
			<th><span class="mobile-icon">{{'money.sum' | translate}} </span>$</th>
			<th><span class="mobile-icon">{{'shared.user' | translate}} </span><i class="fas fa-user"></i></th>
		</tr>
		<tr *ngFor="let charge of (charges$ | async)?.slice().reverse() | paginate: { itemsPerPage: 15, currentPage: p }">
			<td>
				<trash [element]="charge" [from]="'company/charges'"></trash>
				{{charge.date | date: 'dd.MM.yy - HH:mm'}}</td>
			<td>{{('money.categoryList.' + (charge.category || 'other')) | translate}}</td>
			<td>{{charge.name || '___'}}</td>
			<td>{{charge.cost || 0}}</td>
			<td>{{charge.user || '___'}}</td>
		</tr>
	</table>
	<div class="pagination">
		<pagination-controls
				(pageChange)="p = $event"
				nextLabel="{{'table.next' | translate}}"
				previousLabel="{{'table.previous' | translate}}">
		</pagination-controls>
	</div>
</div>