<div id="data" (click)="$event.stopPropagation()"
     [style.overflow-y]="storageList > 3 || (productList && productList.length > 3 && idStore === 4) ? 'scroll' : null">
	<div *ngFor="let store of storages$ | async; let item = index">
		<ng-container *ngIf="item === idStore">
			<h2>{{'storeData.store' | translate}}{{idStore+1}}</h2>
			<p *ngFor="let key of objectKeys(store.filling)">
				<ng-container
						*ngIf="store.filling[key].big || store.filling[key].small || store.filling[key].standard || store.filling[key].waste">
					{{getProductName(key)}}:
					<span>{{store.filling[key].big + store.filling[key].small + store.filling[key].standard + store.filling[key].waste}}</span>
					<br>
					<span>{{store.filling[key].big}}/</span>
					<span>{{store.filling[key].small}}/</span>
					<span>{{store.filling[key].standard}}/</span>
					<span>{{store.filling[key].waste}}</span>

				</ng-container>
			</p>
		</ng-container>
	</div>
	<ng-container *ngIf="idStore === 4">
		<div>
			<h2>{{'storeData.allStorage' | translate}}</h2>
			<ng-container *ngFor="let product of productList">
				<p *ngIf="product.big || product.small || product.standard || product.waste">
					{{product.name}}:
					<span>{{(product.big || 0) + (product.small || 0) + (product.standard || 0) + (product.waste || 0)}}</span>
					<br>
					<span>{{product.big || 0}} / </span>
					<span>{{product.small || 0}} / </span>
					<span>{{product.standard || 0}} / </span>
					<span>{{product.waste || 0}}</span>
				</p>
			</ng-container>
		</div>
	</ng-container>
</div>
