#data {
    width: calc(50% - 100px);
    margin: auto;
    height: 240px;
    background-color: #616161;
    border-radius: 15px;
    color: white;
    padding: 20px;
}
@media screen and (max-width: 500px) {
    #data {height: 165px;}
}