#data {
    width: calc(80% - 187px);
    margin: auto;
    height: 270px;
    background-color: #616161;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: left;
}

p {
    margin: 4px;
}

span {
    margin-left: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

h2 {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 500px) {
    #data {
        width: calc(50%);
        height: 195px;
        font-size: 14px;
        padding: 5px;
    }

    span {
        margin-left: 2px;
        font-size: 11px;
    }
}

@media screen and (max-width: 340px) {
    #data {
        width: calc(50% - 30px);
    }
}