table{
    max-width: 1366px;
    width: 100%;
    margin: 30px auto auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
}
#weight:before{
    content: 'Weight';
}
table tbody tr th{
    /*padding: 10px;*/
    background: #666;
    color: #fff;
    border-radius: 5px;
}
table caption{
    margin-bottom: 10px;
}
td {
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}
span {
    position: relative;
    font-size: 12px;
    left: 0;
}
.table_box{
    padding-bottom:  120px;
}
.table_box table tbody tr:nth-child(1) {
    background: #666;
    color: #FFFFFF;
}
@media screen and (max-width: 1366px) {
    table{
        width: inherit;
    }
}
@media screen and (max-width: 414px) {
    .delivery_provider{
        display: none;
    }
    #weight:before{
        content: 'W';
    }
    td {
        font-size: 14px;
    }
}