table{
    max-width: 1366px;
    width: 100%;
    margin: 30px auto auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 2px solid #9e9e9e;
    border-radius: 5px;
}
table tbody tr th{
    /*padding: 10px;*/
    background: #666;
    color: #fff;
    border-radius: 5px;
}
table caption{
    margin-bottom: 10px;
}
td {
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}
span {
    position: relative;
    font-size: 12px;
    left: 0;
}
.table_box{
    padding-bottom:  120px;
}
.pagination{
    text-align: center;
    margin-left: -40px;
}

.table_box table tbody tr:nth-child(1) {
    background: #666;
    color: #FFFFFF;
}
.table-buttons {
    padding-top: 40px;
    width: 100%;
    display:flex;
    justify-content: space-around;
}
.btn {
    display: inline-block;
}
@media screen and (max-width: 1366px) {
    table{
        width: inherit;
    }
}
@media screen and (max-width: 560px) {
    .table_box table {
        /*word-break: break-all;*/
    }
}
@media screen and (max-width: 414px) {
    table{
        width: auto;
        table-layout: fixed;
    }
    td {
        font-size: 13px;
    }
    .table_box .table-buttons .btn .save{
        font-size: 15px;
        padding: 6px 6px;
    }
}