#dataBox {
    padding-top: 160px;
}

.main_page {
    width: 1366px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 1366px) {
    .main_page{
        width: inherit;
    }
}
.main_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}
.stock_box {
    width: 40%;
    height: 500px;
    border-radius: 10px;
    background: url(/src/assets/images/mochaGrunge.png) no-repeat;
    background-size: cover;
    position: relative;
}

.table_box {
    width: 40%;
    display: flex;
    justify-content: center;
}
.table_box table{
    border-radius: 5px;
    background: #ECE9E0;
}
.table_box table caption {
    padding: 10px;
    font-weight: 500;
}
.table_box table tbody tr th {
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
}
.table_box table tbody tr:nth-child(1) {
    background: #666;
    color: #FFFFFF;
}
.container-1-img, .container-2-img, .container-3-img{
    position: absolute;
    border-radius: 10px;
}

.active-store{
    filter: grayscale(100%);
}

.container-1-img {
    width: 300px;
    height: 102px;
    top: 20px;
    left: 50%;
    margin-left: -150px;
}
.container-2-img {
    height: 300px;
    width: 102px;
    top: 150px;
    left: 5%;
}
.container-3-img {
    height: 300px;
    width: 102px;
    top: 150px;
    right: 5%;
}
@media screen and (max-width: 800px) {
    .main_page{
        height: auto;
    }
    .main_box {
        flex-direction: column;
        text-align: -webkit-center;
    }
    .stock_box{
        width: 70%;
        margin-bottom: 50px;
    }
    .table_box{
        width: 70%;
        margin-bottom: 80px;
    }
    footer{
        position: relative;
        display: block;
    }
}
@media (max-height:652px) and (min-width:800px) {
    .main_page{
        height: 650px;
    }
}
@media screen and (max-width: 500px) {
    #dataBox {
        padding-top: 110px;
    }
    .table_box, .stock_box {
        width: 95%;}
    .stock_box {
        height: 340px;
    }
    .container-1-img{
        width: 210px;
        height: 70px;
        margin-left: -105px;
    }
    .container-2-img{
        height:  210px;
        width:  70px;
        top: 110px;
        left: 4%;
    }
    .container-3-img{
        height:  210px;
        width:  70px;
        top: 110px;
        right: 4%;
    }
}
@media screen and (max-width: 370px) {
    .table_box table{
        font-size: 14px;
        word-break: break-word;
    }
}