<div id="home-header" onmousedown="return false" onselectstart="return false">
	<div class="home-header__block">
		<i class="fas fa-people-carry"></i>
		<i class="fas fa-minus-square" style="margin-left: 7px; cursor: pointer" (click)="addPeople(-1)"></i>
		<span>{{company ? company[2] : null}}</span>
		<i class="fas fa-plus-square" style="cursor: pointer" (click)="addPeople(1)"></i>
	</div>
	<a routerLink="/money">
		<div class="home-header__block" style="cursor: pointer" [style.color]="company && company[1] <= 0 ? 'red' : 'white'">
			<i class="fas fa-wallet"></i>
			<span> {{company ? company[1] : null}}</span>
		</div>
	</a>
	<div class="user-login">
		<span>{{userInMyApp.name}}</span>
	</div>
</div>
<div class="main_page" (click)="showStorData($event, 4)">
	<div class="main_box">

		<div class="stock_box">
			<div class="container-1" (click)="showStorData($event, 2)">
				<h1 class="container-1-h">3</h1>
				<img class="container-1-img" src="assets/images/storage-horisontal.png" [class.active-store]="idStore === 2">
			</div>
			<div class="container-2" (click)="showStorData($event, 1)">
				<h1 class="container-2-h">2</h1>
				<img class="container-2-img" src="assets/images/store-vertical.png" [class.active-store]="idStore === 1">
			</div>
			<div id="dataBox">
				<app-store-data [idStore]="idStore"></app-store-data>
			</div>
			<div class="container-3" (click)="showStorData($event, 0)">
				<h1 class="container-3-h">1</h1>
				<img class="container-3-img" src="assets/images/store-vertical.png" [class.active-store]="idStore === 0">
			</div>
		</div>

		<div class="table_box">
			<table border="1">
				<caption>{{'home.last' | translate}}</caption>
				<tr>
					<th>{{'table.date' | translate}}</th>
					<th>{{'shared.product' | translate}}</th>
					<th>{{'shared.weight' | translate}}</th>
					<th>{{'table.shortSupply' | translate}}</th>
				</tr>
				<tr *ngFor="let delivery of (deliveries$ | async)?.slice().reverse() | slice:0:10">
					<th>{{delivery.date | date: 'dd.MM.yy / HH:mm'}}</th>
					<th>{{findProductName(delivery.idProduct)}}</th>
					<th>{{delivery.weight}}</th>
					<th>
						<i class="fas"
						   [ngClass]="delivery.isSupply ? 'fa-sign-in-alt' : 'fa-sign-out-alt'"
						   [style.color]="delivery.isSupply ? 'green' : 'saddlebrown'">
						</i>
					</th>
				</tr>
			</table>
		</div>
	</div>

	<app-notes></app-notes>
</div>