<form #f="ngForm" class="registration_form" (ngSubmit)="onSubmit(f)">
  <div class="main-form">
    <div class="logo">
      <img class="logo" src="/src/assets/images/icons/logo.png"/>
    </div>
    <input class="login" type="text" placeholder="Login" name="login" #login="ngModel"
           minlength="4" required ngModel>
    <input class="pas" type="password" placeholder="Password" name="password" #psw="ngModel"
           minlength="8" required ngModel>
    <input class="pas-2" type="password" placeholder="Repeat password" name="repeatPassword" #rptPsw="ngModel"
           minlength="8" required ngModel>
    <input class="pas-admin" type="password" placeholder="Admin password" name="adminPassword" #adminPsw="ngModel"
           minlength="8" required ngModel>
    <button class="save" type="submit">Create</button>
    <p style="text-align: center; font-size: 13px;">Have account? <a routerLink="/" class="green-text">SingIn</a></p>
  </div>
</form>

<app-info-block
    [inputList]="[login, psw, rptPsw, adminPsw]"
    [errorList]="[
        'Enter correct login',
        'Enter correct password',
        'Enter correct second password',
        'Enter correct admin password'
    ]"
></app-info-block>