<form #form="ngForm" class="delivery_form" (ngSubmit)="addDelivery(form)">
  <div class="main-form">
    <label for="supply">Supply</label>
    <select #supply name="supply" id="supply" ngModel>
      <option value="true">In</option>
      <option value="false">Out</option>
    </select>

    <label for="storage">Storage</label>
    <select name="storage" id="storage" ngModel>
      <option value="first">1</option>
      <option value="second">2</option>
      <option value="third">3</option>
    </select>

    <label for="products">Product</label>
    <select name="products" id="products" ngModel>
      <option *ngFor="let product of products$ | async" [value]="product | json">{{product.name}}</option>
    </select>
    <a routerLink="/create">New product</a>

    <input type="number" placeholder="Weight" name="weight" ngModel>

	  <ng-container *ngIf="supply.value !== 'false'; else elseSupply">
      <input type="number" placeholder="Waste (%)" name="waste" ngModel>
      <input type="number" placeholder="Big (%)" name="big" ngModel>
      <input type="number" placeholder="Small (%)" name="small" ngModel>
	  </ng-container>

	  <ng-template #elseSupply>
		  <label for="fraction">Fraction</label>
		  <select name="fraction" id="fraction" ngModel>
			  <option value="waste">Waste</option>
			  <option value="standard">Standard</option>
			  <option value="big">Big</option>
			  <option value="small">Small</option>
		  </select>
	  </ng-template>

    <input type="text" placeholder="Provider" name="provider" ngModel>

    <button class="save" type="submit">Add</button>
  </div>
</form>

<div *ngIf="form.invalid" class="error">

</div>

<div *ngIf="connectError" class="error">
  <h2>Problem with connection! Try again!</h2>
</div>

<div *ngIf="connectDone" class="done">
  <h2>Delivery create!</h2>
</div>