<h1 style="text-align: center">{{'delivery.title' | translate}}</h1>
<form #form="ngForm" class="delivery_form" (ngSubmit)="addDelivery(form)">
	<div class="main-form">
		<label for="supply">{{'delivery.supply' | translate}}</label>
		<select [class.validation]="supply.touched" name="supply" id="supply" #supply="ngModel" required ngModel>
			<option value="true">{{'delivery.in' | translate}}</option>
			<option value="false">{{'delivery.out' | translate}}</option>
		</select>

		<label for="storage">{{'shared.storage' | translate}}</label>
		<select [class.validation]="storage.touched" name="storage" id="storage" #storage="ngModel" required ngModel>
			<option value="first">1</option>
			<option value="second">2</option>
			<option value="third">3</option>
		</select>

		<label for="products">{{'shared.product' | translate}}</label>
		<select [class.validation]="products.touched" name="products" id="products" #products="ngModel" required ngModel>
			<option *ngFor="let product of products$ | async" [value]="product | json">{{product.name}}</option>
		</select>
		<a routerLink="/create">{{'createProduct.newProduct' | translate}}</a>

		<input [class.validation]="weight.touched" type="number" placeholder="{{'shared.weight' | translate}}" name="weight" #weight="ngModel"
		       required ngModel>

		<ng-container *ngIf="supply.value !== 'false'; else elseSupply">
			<input [class.validation]="waste.touched" #waste="ngModel" type="number" placeholder="{{'shared.fractionList.waste' | translate}} (%)" name="waste"
			       ngModel required>
			<input [class.validation]="big.touched" #big="ngModel" type="number" placeholder="{{'shared.fractionList.big' | translate}} (%)" name="big" ngModel
			       required>
			<input [class.validation]="small.touched" #small="ngModel" type="number" placeholder="{{'shared.fractionList.small' | translate}} (%)" name="small"
			       ngModel required>
		</ng-container>

		<ng-template #elseSupply>
			<label for="fraction">{{'shared.fraction' | translate}}</label>
			<select [class.validation]="fraction.touched" #fraction="ngModel" name="fraction" id="fraction" ngModel required>
				<option value="waste">{{'shared.fractionList.waste' | translate}}</option>
				<option value="standard">{{'shared.fractionList.standard' | translate}}</option>
				<option value="big">{{'shared.fractionList.big' | translate}}</option>
				<option value="small">{{'shared.fractionList.small' | translate}}</option>
			</select>
		</ng-template>

		<input type="text" placeholder="{{'shared.provider' | translate}}" name="provider" ngModel>

		<button class="save" type="submit" [disabled]="form.invalid">{{'shared.add' | translate}}</button>
	</div>
</form>

<app-info-block
		[inputList]="[weight, supply, storage, products]"
		[errorList]="[
        'shared.weight' | translate | lowercase,
        'delivery.supply' | translate | lowercase,
        'shared.storage' | translate | lowercase,
        'shared.product' | translate | lowercase
    ]"
></app-info-block>

<div *ngIf="connectError" class="error">
	<h2>{{'shared.connectError' | translate}}</h2>
</div>

<div *ngIf="connectDone" class="done">
	<h2>{{'shared.connectDone' | translate}}</h2>
</div>
