@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

* {
  font-family: 'Ubuntu', sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: beige;
  padding: 0 20px;
}

#header > div, #language > div {
  display: inline-block;
  cursor: pointer;
  height: 36px;
}

.left-header-blocks {
  width: 130px;
  background-color: blanchedalmond;
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  padding-top: 4px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-right: 10px;
}

#language {
  position: absolute;
  right: 50px;
  padding: 10px;
}

#language > div {
  width: 55px;
}

#rus { background: url('../images/icons/russia.png') no-repeat left center; }
#en { background: url('../images/icons/usa.png') no-repeat left center; }