/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: 0.5s;
}
body {
    width: 100%;
    margin: 0;
    background-image: url(/src/assets/images/vintage-concrete.png);
}

.error {
    width: 100%;
    color: red;
    text-align: center;
}