<form #form="ngForm" class="movement_form" (ngSubmit)="move(form)">
  <div class="main-form">
    <label for="storage">From storage</label>
    <select [class.validation]="storage.touched" name="storage" id="storage" #storage="ngModel" required  ngModel>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <label for="storage-for">To storage</label>
    <select [class.validation]="storagefor.touched" name="storage-for" id="storage-for" #storagefor="ngModel" required ngModel>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>

    <label for="products">Product</label>
    <select [class.validation]="products.touched" name="products" id="products" #products="ngModel" required  ngModel>
      <option *ngFor="let product of products$ | async" [value]="product.id">{{product.name}}</option>
    </select>

    <input [class.validation]="weight.touched" type="number" placeholder="Weight" name="weight" #weight="ngModel" required  ngModel>

    <button class="save" type="submit" [disabled]="form.invalid">Move</button>
  </div>
</form>

<app-info-block
        [inputList]="[storage, storagefor, products, weight]"
        [errorList]="['storage', 'storage-for', 'products', 'weight']"
></app-info-block>

<div *ngIf="connectError" class="error">
  <h2>Problem with connection! Try again!</h2>
</div>

<div *ngIf="connectDone" class="done">
  <h2>Movement done!</h2>
</div>