#footer{
    background-color: #454e6f;
    width: 100%;
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.footer-text,.creators{
    display: inline-block;
    color: #FFFFFF;
    margin: 0;
}
@media(max-width:414px) {
}