#footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url("/src/assets/images/sunflower2.png") bottom;
    background-size: 120px;
    background-repeat-y: no-repeat;
}
.footer-text,.creators{
    display: inline-block;
    margin: 0;
    padding: 30px 20px 0;
}
@media(max-width:414px) {
    .footer-text, .creators {
        padding: 64px 20px 0;
    }
    #footer{
        position: relative;
        background-size: 40%;
    }
}